* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
    background-color: gainsboro;
    color:black;
  }

header {
    width: 100%;
    background-color: aqua;
    position: fixed;
    border-bottom: 20px solid black;
}

li {
    display: inline;
  }

main {
    padding: 60px;
}

form {
    margin: 0 auto;
    width: 100%;
    border: 5px solid black;
}

input {
    box-sizing: border-box;
}

footer {
    width: 100%;
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 20px solid black;
    color= white;
}

img {
    display: block;
    margin: auto;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.scale {
    width: 400px;
    height: 400px;
}