body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    position: relative;
    background-color: azure;
    color:black;
  }

header {
background-color: aqua;
position: fixed;
}

#cat {
    position: relative;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.scale {
    width: 260px;
    height: 130px;
}